* {
  font-family: "Poppins";
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fbf9f9;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

ul {
  padding: 0px;
}

li {
  list-style: none;
}

.btn {
  font-size: 15px;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
}

.btn:is(:hover, :focus) {
  transform: translateY(-2px);
}

.btn-primary {
  background: hsl(245, 67%, 59%);
  color: white;
}

.btn-primary:is(:hover, :focus) {
  background-color: hsl(245, 67%, 55%);
  box-shadow: 0 3px 10px hsla(245, 67%, 59%, 0.5);
}

.btn-outline {
  border: 1px solid hsl(245, 67%, 55%);
  color: hsl(245, 67%, 55%);
  background-color: white;
}

.btn-outline:is(:hover, :focus) {
  background: hsl(245, 67%, 55%);
  color: white;
  box-shadow: 0 3px 10px hsla(245, 67%, 59%, 0.5);
}

.btn-secondary {
  background: hsla(245, 67%, 59%, 0.15);
  color: hsl(245, 67%, 55%);
}

.container {
  display: flex;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
  padding: 0px 10%;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.05);
  height: 65px;
  overflow: hidden;
  z-index: 4;
}

.logo {
  height: 30px;
}

.nav {
  padding: 15px;
}

.nav-list {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.nav-list a {
  font-weight: bold;
  color: hsl(244, 17%, 61%);
}

.nav-list,
a:hover {
  color: hsl(245, 67%, 59%);
}

.nav-actions-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.nav-actions-list a {
  font-weight: bold;
  color: hsl(244, 17%, 61%);
}

.nav-actions-list,
a:hover {
  color: hsl(245, 67%, 59%);
}

.hero {
  background-color: #fafaff;
  height: 500px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.hero .container {
  display: grid;
  grid-template-columns: 4fr 5fr;
  align-items: center;
  gap: 60px;
}

.hero-content {
  margin-bottom: 0;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.hero-content {
  margin-block-end: 30px;
}

.hero-subtitle {
  color: #18181b;
  font-size: 1rem;
  font-weight: 500;
  border-left: solid 4px #9990ff;
  padding-left: 5px;
}

.hero-title {
  margin-block: 12px 8px;
  font-size: 2.3rem;
  font-weight: bolder;
}

.hero-text {
  font-size: 0.9rem;
  font-weight: 400;
  color: rgb(141, 139, 172);
}

.hero-banner {
  max-width: 600px;
  margin-inline: auto;
}

.services {
  padding-block: 80px;
  background: #fafaff;
}

.services .section-title {
  margin-bottom: 15px;
}

.services .section-text {
  margin-bottom: 60px;
}

.services-wrapper:not(:last-child) {
  margin-bottom: 80px;
}

.services-banner {
  margin-bottom: 35px;
}

.services-banner img {
  width: 100%;
}
